<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Krishna Vamshi Test Suite" verbose="1">

    <test name="Google Tests">
        <classes>
            <class name="com.krishna.tests.FirstTest"/>
            <class name="com.krishna.tests.GoogleSearchTest"/>
            <class name="com.krishna.tests.ScreenshotTest"/>
        </classes>
    </test>

</suite>